
<div class="container">
	<p id="notice"><%= notice %></p>

	<p>
		<strong>Username:</strong>
		<%= @person.username %>
	<p>
  		<strong>Email:</strong>
  		<%= @person.email %>
	</p>

	<% if current_user && current_user.admin? %>
		<%= link_to 'Edit', edit_person_path(@person) %> |
	<% end %>
	<%= link_to 'Back', people_path %>
</div>
